body{
    background-color: white;
}
body h1{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;

}
.product-card{
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px 30px;
    background-color: lightgoldenrodyellow;
}
.img-wrapper{
    width: 80%;
    height: 200px;
}
.img-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}